.FormContainer{
    padding-left: 15%;
}
#pag {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 850px;
  }

#bod {
    background-color: whitesmoke;
  }

#borde{
  background-color:white;
  }


  